:root {
  --yellow: #fae100;
  --black: #2e363e;

  --horizontal-space: 25px;

  --main-border: 1px solid rgba(164, 164, 164, 0.4);

  --color-gray: rgba(0, 0, 0, 0.4);
  --color-gray-light: rgba(0, 0, 0, 0.2);

  --dark-theme-bg: #2a2b30;
  --dark-theme-bg-emphasis: #1b1b1b;
  --dark-theme-bg-chat-send: #222327;
  --dark-theme-bg-chat-receive: #3d4045;
  --dark-theme-status-bar: #c8c9cb;
  --dark-theme-nav-bar: #212226;
  --dark-theme-text-bright: #feffff;
  --dark-theme-text-dark: #a4a4a4;
}
