.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.login-form input {
  padding: 15px 0px;
  font-size: 18px;
  border: none;
  margin-bottom: 20px;
  background-color: var(--dark-theme-text-dark);
  padding-left: 10px;
  font-weight: 600;
}

.login-form input::placeholder {
  color: white;
}

.login-form input:nth-child(3) {
  margin-top: 20px;
}

.login-form input:not([type="submit"]) {
  border-left: 14px solid var(--dark-theme-text-dark);
  transition: border-color 0.3s ease-in-out;
}

.login-form input:focus {
  border-color: rgba(255, 255, 0, 0.8);
  color: var(--dark-theme-text-bright);
}

.login-form input[type="submit"] {
  background-color: rgba(125, 125, 0, 1);
  color: black;
  cursor: pointer;
  font-size: 17px;
  padding: 20px 0px;
  border-radius: 5px;
}

.login-form__btn[type="submit"]:hover {
  background-color: rgba(255, 255, 0, 0.8);
  color: black;
}

.login-form__btn[type="submit"] {
  transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}

.login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}
