.more-screen .icon-row {
  margin-top: 35px;
}

.more-suggestions {
  border-top: var(--main-border);
  margin-top: 40px;
  padding-top: 25px;
}

.more-suggestions__title {
  font-size: 16px;
  font-weight: 600;
}

.more-suggestions__icons {
  display: flex;
  margin-top: 30px;
}

.more-suggestions__icon {
  margin-right: 30px;
}

.more-suggestions__icon-image {
  width: 50px;
  height: 50px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-suggestions__icon-image i {
  color: var(--dark-theme-bg-emphasis);
}

.more-suggestions__icon-text {
  margin-top: 10px;
  text-align: center;
}
