.settings__setting {
  padding: 16px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting:nth-child(3) {
  border-bottom: var(--main-border);
  padding-top: 16px;
  padding-bottom: 32px;
}

.settings__setting:nth-child(4) {
  padding-top: 32px;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}

.settings__setting i {
  opacity: 0.8;
  font-size: 22px;
}

.settings__setting-icon {
  color: var(--yellow);
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
