.user-component {
  /* 2개의 user-component__column 클래스 간 space-between 화면 배치 */
  justify-content: space-between;

  display: flex;
}

/* user-component__column 클래스를 가진 2개의 div 태그가 옆으로 정렬됨 */
.user-component 
  /* user-component__avatar 클래스와 user-component__text 클래스가 옆으로 정렬됨 */
.user-component__column:first-child {
  background-color: red;

  display: flex;
  align-items: center;
}

.user-component__column:last-child {
  background-color: yellow;

  color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__title--not-bold {
  font-weight: 400;
}
