/* 
collapsing margin
경계(border)가 닿아서 위, 아래 수직 방향으로 margin이 같아지는 현상
padding(경계로부터 안쪽의 공간) 속성으로 해결
 */

.user-component {
  /* 2개의 user-component__column 클래스 간 space-between 화면 배치 */
  justify-content: space-between;

  /* own__ .user-componenet .user-component__column:first-child {display: flex;} 부분과 코드 중복되나, 본 형태로 만들지 않으면 2개의 user-component__column 클래스가 두 줄로 배치되는 현상 발생*/
  display: flex;

  /* 숙제(채팅방 목록이 2개 이상일 때 각 항목(채팅방) 사이에 margin-bottom 속성 부여) #6.21__코드 대조 검사 확인요 */
  /* friend.html / chats.html / more.html 모두 user-component 클래스의 margin-bottom 속성에 영향 받으므로 적용 무효화 */
  /* margin-bottom: 20px; */
}

/* user-component__column 클래스를 가진 2개의 div 태그가 옆으로 정렬됨 */
.user-component 
  /* user-component__avatar 클래스와 user-component__text 클래스가 옆으로 정렬됨 */
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);

  display: flex;

  flex-direction: column;
  align-items: flex-end;

  /* own */
  justify-content: center;
}

/* own__span 태그와 i 태그 사이에 margin-right 속성 부여 */
.user-component__column:last-child span {
  margin-right: 4px;
}

.user-component .user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__subtitle i {
  margin-left: 4px;
  color: tomato;
  opacity: 0.7;
}

.user-component__title--not-bold {
  font-weight: 400;
}

/* own__user-component.css 코드의 user-component__column:last-child CSS 속성의 변형 */
/* .user-component__column--flex-direction {
  color: rgba(0, 0, 0, 0.4);
  display: flex;

  flex-direction: column;
  align-items: flex-end;

  justify-content: center;
} */

.user-component__time {
  margin-bottom: 5px;
  display: block;
}
